<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<%= stylesheet_link_tag 'responsive', :media => 'all', :plugin => 'redmine_responsive' %>
<%= javascript_include_tag 'responsive', :plugin => 'redmine_responsive' %>

<div id="flyout-menu-temp-wrapper">
  <%= render(:partial => 'layouts_base/flyout_menu') %>
</div>

<div id="mobile-toggle-button-temp-wrapper">
  <%= render(:partial => 'layouts_base/mobile_toggle_button') %>
</div>
